.requests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.req-container {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.req-cards {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.req-cards img {
  width: 15%;
  padding: 10px;
}
